# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ProcedimentoCriminal.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\ProcedimentoCriminal\.idea\.idea.ProcedimentoCriminal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
